<!doctype html>
<html ng-app="demoApp">
<head>
<title>Angular JS</title>
<script src="js/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/custom.directives.js"></script>
</head>
<body >
	<div>
		<form ng-controller="RoomController">
			Search:<input type="text" name="filter" ng-model="searchname.$">
			Search by firstname:<input type="text" name="filter" ng-model="searchname.firstname">
			Search by lastname:<input type="text" name="filter" ng-model="searchname.lastname">
			Search by city:<input type="text" name="filter" ng-model="searchname.city">
			<table>
				<tr><th>first-name</th><th>last-name</th><th>city</th><th>current-address</th></tr>
			<tr  ng-repeat="roomie in room.roomie|filter:searchname|orderBy:'toString'"> 
				<td>{{roomie.firstname}}</td><td>{{roomie.lastname}}</td><td>{{roomie.city}}</td><td>{{room.address}}</td>
			</tr>
			</table>
			<br/>
				<hello ng-attr-name="{{searchname}}"></hello>			
		</form>
	</div>
</body>
</html>